:root {
    --background-color: #FFFFFF;
    --text-color-primary: #000000;
    --text-color-secondary: #8B8680;
    --link-color: #000000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #000000;
        --text-color-primary: #FFFFFF;
        --text-color-secondary: #8B8680;
        --link-color: #FFFFFF;
    }
}

html {
    background: var(--background-color);
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    letter-spacing: -0.01em;
    max-width: 640px;
    margin-left: 32px;
    margin-top: 64px;
    margin-right: 32px;
    margin-bottom: 32px;
    color: var(--text-color-primary);
}

secondary {
    color: var(--text-color-secondary);
}

h1 {
    font-size: 4.5rem;
    line-height: 0rem;
    font-weight: 400;
    letter-spacing: -0.035em;
}

a {
    color: var(--link-color);
    transition: 0.5s;
    
}

a:hover {
    color: var(--text-color-secondary);
    transition: 0.5s;
}

.profile-icon {
    width: 144px;
    height: 144px;
    margin-left: 24px;
    margin-bottom: 24px;
    float: right;
    border-radius: 50%;
}
