:root {
    --background-color: #FFFFFF;
    --text-color-primary: #000000;
    --text-color-secondary: #8B8680;
    --link-color: #000000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #000000;
        --text-color-primary: #FFFFFF;
        --text-color-secondary: #8B8680;
        --link-color: #FFFFFF;
    }
}

html {
    background: var(--background-color);
}

body {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
    letter-spacing: 0.01em;
    max-width: 640px;
    margin-left: 32px;
    margin-top: 64px;
    margin-right: 32px;
    margin-bottom: 32px;
    color: var(--text-color-primary);
}

secondary {
    color: var(--text-color-secondary);
}

h1 {
    font-size: 4.5rem;
    line-height: 1.5rem;
    font-weight: 600;
    letter-spacing: -0.01em;
}

a {
    color: var(--link-color);
    transition: 0.5s;
    
}

a:hover {
    color: var(--text-color-secondary);
    transition: 0.5s;
}

.profile-icon {
    width: 128px;
    height: 128px;
    margin-top: 8px;
    margin-left: 16px;
    margin-bottom: 16px;
    float: right;
    border-radius: 50%;
}
