:root {
    --background-color: #FFFFFF;
    --text-color-primary: #212121;
    --text-color-secondary: #666666;
    --link-color: #2962FF;
}

html {
    background: var(--background-color);
}

body {
    font-family: 'Roboto Mono', monospace;
    max-width: 640px;
    margin-left: 32px;
    margin-top: 64px;
    margin-right: 32px;
    margin-bottom: 64px;
}

h1 {
    font-size: 3.25rem;
    font-weight: 400;
    color: var(--text-color-primary);
}

h2 {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color-primary);
    padding-bottom: 4px;
}

h3 {
    font-size: 1.875rem;
    font-weight: 500;
    color: var(--text-color-primary);
    padding-top: 32px;
    border-top: 2px dashed;
}

p {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--text-color-secondary);
    padding-bottom: 8px;
}

ul {
    padding-bottom: 8px;
}

li {
    font-size: 1.375rem;
    font-weight: 400;
    color: var(--text-color-secondary);
}

a {
    color: var(--link-color);
}

a:hover {
    opacity: 0.7;
}

img:hover {
    opacity: 0.7;
}

.app-icon {
    width: 96px;
    height: 96px;
    margin-left: 32px;
    margin-bottom: 32px;
    float: right;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 64px;
}

.footer-icon {
    width: 32px;
    height: 32px;
    margin-right: 32px;
}

.profile-icon {
    width: 144px;
    height: 144px;
    margin-left: 24px;
    margin-bottom: 24px;
    float: right;
    border-radius: 50%;
    filter: drop-shadow(0px 1px 2px #666666);
    -webkit-filter: drop-shadow(0px 1px 2px #666666);
}

.profile-icon:hover {
    opacity: 1.0;
}
